html, body{
  overflow: hidden;
}

.cartoon{
  --brown1: #753;
  --brown2: #975;
  --orange1: orange;
  --orange2: darkorange;
  width: 80vmin;
  height: 80vmin;
  background: #fee;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

.cartoon div {
  position: absolute;
  box-sizing: border-box;
}

.body{
  width: 40%;
  height: 40%;
  background: var(--brown1);
  color: var(--brown1);
  border-radius: 50%;
  top: 40%;
  left: 50%;
  transform: translate(-50%,0);
  box-shadow:
    -5vmin 14.5vmin 0 -13vmin,
    5vmin 14.5vmin 0 -13vmin
}

.wing{
  height: 30%;
  width: 20%;
  background: var(--brown2);
  border-radius: 100% 0% 100% 5%;
  top: 41%;
  left: 23%;
  transform-origin: top-right;
  transform: rotate(-10deg);
}

.wing + .wing {
  left: auto;
  right: 25%;
  transform: scaleX(-1) rotate(-10deg);
}

.head{
  width: 18%;
  height: 18%;
  border-radius: 50%;
  background: var(--brown2);
  top: 18%;
  left: 50%;
  transform: translate(-50%, 0);
}

.head::before{
  content: "";
  display: block;
  position: absolute;
  width: 40%;
  height: 110%;
  background: var(--brown2);
  top: 80%;
  left:50%;
  transform: translate(-50%, 0);
  border-radius: 0 0 100% 100%/30%
}

.eye{
  width: 10%;
  height: 10%;
  background: black;
  border-radius: 50%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, 0) translate(-2.5vmin, 0);
  box-shadow: 5vmin 0;
}

.beak{
  width:4vmin;
  height: 3vmin;
  border-left: 4vmin solid var(--orange2);
  border-top: 1.5vmin solid transparent;
  border-bottom: 1.5vmin solid transparent;
  top: 60%;
  left: 50%;
}

.red{
  width: 2.5vmin;
  height: 6vmin;
  background: #d00;
  border-radius: 100%/100% 0 100% 100%;
  top: 60%;
  left: 50%;
  transform: translate(-100%, 0);
}

.leg {
  width: 3%;
  height: 20%;
  background: var(--orange1);
  top: 75%;
  left: 50%;
  transform: translate(-50%, 0) translate(-5vmin, 0);
  border-radius: 5vmin / 50%;
  background-image: repeating-linear-gradient(transparent 0 10%, rgba(0,0,0,0.1) 0 11%);
}

.leg + .leg{
  transform: translate(-50%,0) translate(5vmin,0);
}

.leg::before,
.leg::after{
  content: "";
  display: block;
  position:absolute;
  width: 80%;
  height:30%;
  left: 0;
  bottom:0;
  background: var(--orange1);
  border-radius: 5vmin;
  transform-origin: 50% 0;
  transform: rotate(30deg);
}

.leg::after{
  transform: rotate(-30deg);
}

.tail{
  width: 10%;
  height: 40%;
  background: var(--orange1);
  border-radius: 100%/ 30% 30% 140% 140%;
  transform-origin: 50% 100%;
  top: 30%;
  left:50%;
  transform: translate(-50%, 0);
}

.tail:nth-child(odd){
  background-color: var(--orange1)
}

.tail:nth-child(even){
  background-color: var(--orange2)
}

.tail:nth-child(1) { transform: translate(-50%, 0) rotate(0);}
.tail:nth-child(2) { transform: translate(-50%, 0) rotate(17deg);}
.tail:nth-child(3) { transform: translate(-50%, 0) rotate(34deg);}
.tail:nth-child(4) { transform: translate(-50%, 0) rotate(51deg);}
.tail:nth-child(5) { transform: translate(-50%, 0) rotate(68deg);}
.tail:nth-child(6) { transform: translate(-50%, 0) rotate(85deg);}
.tail:nth-child(7) { transform: translate(-50%, 0) rotate(99deg);}
.tail:nth-child(8) { transform: translate(-50%, 0) rotate(-17deg);}
.tail:nth-child(9) { transform: translate(-50%, 0) rotate(-34deg);}
.tail:nth-child(10) { transform: translate(-50%, 0) rotate(-51deg);}
.tail:nth-child(11) { transform: translate(-50%, 0) rotate(-68deg);}
.tail:nth-child(12) { transform: translate(-50%, 0) rotate(-85deg);}
.tail:nth-child(13) { transform: translate(-50%, 0) rotate(-99deg);
